@import url("https://fonts.googleapis.com/css?family=Poppins");

.header {
  background-color: rgb(76, 148, 98, 1);
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10px;
}

.childHeaderContainer {
  width: 1024px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.textItem {
  width: 100%;
}

.headerSearchInput {
  width: 75%;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: white;
}

.SearchItem {
  height: 40px;
  font-size: 12px;
  padding: 0px 5px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.subTextItem {
  gap: 10px;
  color: black;
  padding-bottom: 10px;
  width: 100%;
  white-space: nowrap;
  font-family: "Poppins";
}

.spaceItem {
  gap: 10px;
  color: black;
  padding-bottom: 10px;
  white-space: nowrap;
  font-family: "Poppins";
}

.dateItem {
  font-size: 12px;
  padding: 12px 5px;
  color: black;
  cursor: crosshair;
  background-color: white;
  border-radius: 5px;
}

.childSearchContainer {
  width: 50%;
  color: black;
  padding-bottom: px;
  padding-top: 10px;
}

.countItem {
  font-size: 12px;
  border-radius: 5px;
  gap: 10px;
  color: black;
  background-color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 5px;
  margin-bottom: 20px;
}

.updateItem {
  width: 50%;
}

.searchBtn {
  font-family: "Poppins";
  width: 100%;
  height: 50px;
  color: black;
  background: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
