@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
  /* background-image: url(../../components/navbar/background.jpeg); */
  background-image: url(../../components/navbar/background3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.destinationSearchContainer{
  margin-top: 100px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: relative;
}

.container { 
  width: 1024px; 
  display: flex;
  align-items: center;
} 

.column { 
  float: center; 
  width: 50%;
} 

.text { 
  text-align: left;
  font-size: 80px;
  line-height: 70pt;
  font-weight: bold;
  color: white;
} 

.search { 
  height: 300px;
  background-color: rgba(255, 255, 255, 0.6);
  width: 50%;
  justify-content: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.headerSearchItem1 {
  gap: 10px;
  color: black;
}

.headerSearchInput {
  font-size: 12px;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  margin: 5px 0px 15px 0px;
  box-sizing: border-box;
  color: black;
}

.headerSearchItem2   {
  gap: 10px;
  color: black;
  padding-bottom: 10px;
}

.headerSearchText {
  font-size: 12px;
  padding:12px 5px;
  color: black;
  cursor: pointer;
  background-color:white;
  border-radius: 5px;
}

.headerSearchItem3   {
  gap: 10px;
  color: black;
  padding-bottom: 10px;
  padding-top: 10px;
}

.headerSearchItem4   {
  font-size: 12px;
  border-radius: 5px;
  gap: 10px;
  color: black;
  background-color:white;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 5px;
  margin-bottom: 20px;
}

.date {
  position: absolute;
  z-index: 2;
  color: black;
}

.options {
  position: absolute;
  top: 50px;
  background-color: white;
  color: black;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}

.headerSearchItem5   {
  border-radius: 5px;
  gap: 10px;
}


.SearchBtn {
  font-weight: bold;
  width: 100%;
  height: 40px;
  color:white;
  /* background: #0071c2; */
  background: rgb(1, 116, 1);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

